<?xml version="1.0" encoding="utf-8" ?>
<config>
    <modules>
        <Calamandrei_HelloWorld>
            <version>0.1.0</version>
        </Calamandrei_HelloWorld>
    </modules>
    <global>
        <blocks>
            <Calamandrei_HelloWorld>
                <class>Calamandrei_HelloWorld_Block</class>
            </Calamandrei_HelloWorld>
        </blocks>
        <helpers>
            <Calamandrei_HelloWorld>
                <class>Calamandrei_HelloWorld_Helper</class>
            </Calamandrei_HelloWorld>
        </helpers>
    </global>
    <frontend>
        <routers>
            <Calamandrei_HelloWorld>
                <use>standard</use>
                <args>
                    <module>Calamandrei_HelloWorld</module>
                    <frontName>hello</frontName>
                </args>
            </Calamandrei_HelloWorld>
        </routers>
    </frontend>
    <default>
        <Calamandrei_HelloWorld>
            <configuration>
                <enabled>1</enabled>
                <message>Test message from config.xml</message>
            </configuration>
        </Calamandrei_HelloWorld>
    </default>
</config>