<?xml version="1.0" encoding="utf-8" ?>
<config>
    <modules>
        <calamandrei_helloworld>
            <version>0.1.0</version>
        </calamandrei_helloworld>
    </modules>
    <global>
        <blocks>
            <calamandrei_helloworld>
                <class>calamandrei_helloworld_Block</class>
            </calamandrei_helloworld>
        </blocks>
        <helpers>
            <calamandrei_helloworld>
                <class>calamandrei_helloworld_Helper</class>
            </calamandrei_helloworld>
        </helpers>
    </global>
    <frontend>
        <routers>
            <calamandrei_helloworld>
                <use>standard</use>
                <args>
                    <module>calamandrei_helloworld</module>
                    <frontName>hello</frontName>
                </args>
            </calamandrei_helloworld>
        </routers>
        <layout>
            <updates>
                <calamandrei_helloworld>
                    <file>calamandrei_helloworld.xml</file>
                </calamandrei_helloworld>
            </updates>
        </layout>
    </frontend>
    <default>
        <calamandrei_helloworld>
            <configuration>
                <enabled>1</enabled>
                <message>Test message from config.xml</message>
            </configuration>
        </calamandrei_helloworld>
    </default>
</config>